$primarycolor: #9356DC;
$secondarycolor: #FF79DA;
$tertiarycolor: #99E2D0;
$footercolor: #353535;
$whitecolor: #fff;
$icolor: #7e7e7e;
$locnavcolor: #eaeaea;
$bgcolor: #f6f6f6;
$stepshovcolor:#f6edff;
$bgnewcolor: #1a8a68;

$shadow: rgba(0, 0, 0, 0.1);
$shadow2: rgba(0, 0, 0, 0.08);

$ticktranstime: 1200ms;